main {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        margin-top: 43.50px;
    }

    .coffee {
        margin-top: 270px;
        margin-left: 85px;
        display: flex;

    }

    .main_wrapper {
        margin-left: 690px;
        margin-top: -27rem;
    }

    .main_title {
        color: #333D4B;
        font-family: 'Fraunces', serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
    }

    .main_text {
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        width: 540px;
        margin-top: 32px;
    }
}